.gradient-custom {
    /* fallback for old browsers */
    background: #FFB88C;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
 }
 .navbar-style{
        background:linear-gradient(to bottom, #FFB88C, #DE6262);
 }

.btn-logout{
        background:white; 
        color:black; 
        font-weight:500;
     }    
